# Core modules (mandatory)
jupyterlite-core==0.6.4
jupyterlab~=4.4.5
notebook~=7.4.5

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.6.1

# Python: plotting libraries (optional)
plotly>=6,<7

# Custom requirements
jupyterlab-filesystem-access
tskit
tszip
